name: flutter_map_location_marker
description: A flutter map plugin for displaying device current location.
version: 9.0.0
repository: https://github.com/tlserver/flutter_map_location_marker
platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_compass: ^0.8.0
  flutter_map: ^7.0.0
  geolocator: ^13.0.1
  latlong2: ^0.9.1

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  lint: ^2.3.0

flutter:
